@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --color-very-dark-gray: hsl(0, 0%, 17%);
  --color-dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--clr-dark);
  font-weight: 500;
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
}
.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  transition: all 0.3s;
}

.app-section-first {
  position: relative;
  height: 220px;
  max-height: max-content;
  transition: all 0.5s;
  background: linear-gradient(
      to left,
      rgba(46, 2, 128, 0.351),
      rgba(96, 16, 245, 0.466)
    ),
    center/cover no-repeat url("/public/images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
}
.app-header {
  margin: 2.8rem;
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 2.8rem;
}
.app-form {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.app-form input {
  width: 30%;
  height: 4rem;
  border: none;
  border-radius: 1.5rem 0 0 1.5rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  cursor: pointer;
}

input:focus {
  outline: none;
}
.btn {
  border: none;
  border-radius: 0 1.5rem 1.5rem 0;
  padding: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
}
.app-sidebar {
  position: absolute;
  top: auto;
  left: 25%;
  z-index: 2;
  width: 50%;
  background-color: white;
  border-radius: 1rem;
}
.app-sidebar-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  font-size: 1.5rem;
}
.app-sidebar-list li {
  position: relative;
  display: inline-block;
  padding: 2rem;
}
.app-sidebar-list li::after {
  position: absolute;
  content: "";
  right: -1.7rem;
  top: 1.8rem;
  border-right: 1px solid var(--color-dark-gray);
  height: 60%;
}
.app-sidebar-list li:last-child::after {
  border: none;
}

.list-header {
  color: var(--color-dark-gray);
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.app-section-second {
  position: relative;
  flex: 1;
  height: calc(100vh - 220px);
  background-color: var(--color-dark-gray);
  z-index: 0;
}

.map {
  height: 100%;
  width: 100vw;
}
.spinner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--color-very-dark-gray));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: white;
  color: var(--color-very-dark-gray);
  border-radius: 8px;
  padding: 0.1rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.leaflet-popup .leaflet-popup-content span:first-child {
  font-size: 2.5rem;
  line-height: 1;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: lightskyblue;
}

.leaflet-popup-content-wrapper {
  border-left: 6px solid var(--color-very-dark-gray);
}
.message {
  text-align: center;
  font-size: 1.8rem;
  width: 80%;
  margin: 2rem auto;
  font-weight: 600;
}
